<div id="<%= dom_id friend %>">
  <div class="p-5 mb-4 bg-body-tertiary rounded-3">
    <h1>
      <%= friend.first_name %>
      <%= friend.last_name %>
    </h1>

    <p class="lead">
    <%= friend.email %> |
    <%= friend.phone %> | 
    <%= friend.twitter %>
    </p>
    <br/>
  <div>
</div>
